{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TimelyScheduler</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
 
  <link href="{%static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon"> 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{%static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{%static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{%static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{%static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{%static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{%static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{%static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a>
        <h3>TimelyScheduler</h3>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="{%url 'index' %}">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          
          <li class="drop-down"><a href="">Sign Up</a>
            <ul>
              <li><a href="{%url 'register_student' %}">Student Signup</a></li>
              <li><a href="{%url 'register_teacher' %}">Teacher Signup</a></li>
              <li><a href="{%url 'admin-login' %}">Admin Login</a></li>
              
              
            </ul>
          </li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->
{%block content%}
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="{%static 'img/intro-img.svg' %}" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Time table management<br><span>system</span><br></h2>
        <div>
          <a href="{% url 'register_student' %}" class="btn-get-started scrollto">Sign up</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>At TimelyScheduler, we are passionate about simplifying and optimizing the complex task of timetable management for educational institutions, businesses, and organizations. Our project is a result of dedicated efforts to address the challenges faced in creating, managing, and organizing schedules efficiently.
          </p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              With smart scheduling algorithms, our platform ensures that resources are utilized effectively, minimizing conflicts and maximizing the use of available assets. Experience seamless resource management for a more organized and productive educational or business environment.
              </p>
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Our Mission</a></h4>
              <p class="description">
                Our mission is to revolutionize the way institutions and businesses manage their schedules. We aim to provide a comprehensive and user-friendly timetable management system that optimizes time, reduces administrative burdens, and ensures a seamless scheduling experience. With our solution, we empower organizations to create a more productive and organized environment for all stakeholders.
              </p>
            </div>
            
            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Efficient Schedule Planning</a></h4>
              <p class="description">
                Experience efficient schedule planning with our Timetable Management System. Our platform streamlines the process of creating and managing schedules, allowing administrators to easily allocate classes, assign teachers, and organize resources. Save time and enhance productivity in schedule planning.
              </p>
            </div>
            
            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Optimized Resource Allocation</a></h4>
              <p class="description">
                Our Timetable Management System goes beyond simple scheduling by providing optimized resource allocation. Efficiently allocate classrooms, laboratories, and other facilities based on availability and specific requirements.
            </div>
            

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="{%static 'img/about-img.svg' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="{%static 'img/about-extra-1.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Simplify Your Scheduling with TimelyScheduler</h4>
            <p>
              TimelyScheduler is your comprehensive solution for streamlined scheduling and efficient timetable management. Our platform is designed to simplify the complexities of organizing classes, allocating resources, and optimizing schedules for educational institutions and businesses.
            </p>
            <p>
              With TimelyScheduler, experience the ease of creating and managing timetables effortlessly. Say goodbye to manual scheduling headaches and embrace a user-friendly system that saves time, reduces administrative burdens, and ensures a seamless scheduling experience for a more productive and organized environment.
            </p>
          </div>
          </div>
          
          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
              <img src="{% static 'img/about-extra-2.svg' %}" class="img-fluid" alt="Timetable Management Illustration">
            </div>
          
            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
              <h4>Efficient Resource Allocation and Smart Planning</h4>
              <p>
                TimelyScheduler takes scheduling to the next level with features like efficient resource allocation and smart planning. Optimize the use of classrooms, laboratories, and other facilities based on availability and specific requirements. Our smart scheduling algorithms ensure that resources are utilized effectively, minimizing conflicts and maximizing productivity.
              </p>
              <p>
                Experience a platform that goes beyond basic scheduling. TimelyScheduler is your partner in creating an organized and productive educational or business environment. Join us on the journey to simplified scheduling and efficient timetable management.
              </p>
            </div>
          </div>
          

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Services</h3>
          <p>Discover the comprehensive services offered by our Timetable Management System. Simplifying scheduling and optimizing your organization's productivity.</p>
        </header>
        
        <div class="row">
        
          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Intelligent Scheduling</a></h4>
              <p class="description">Experience intelligent scheduling with our Timetable Management System. Our platform utilizes advanced algorithms to create efficient and conflict-free schedules, ensuring optimal use of time and resources.</p>
            </div>
          </div>
        
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Resource Allocation</a></h4>
              <p class="description">Optimize the use of classrooms, laboratories, and other facilities with our resource allocation feature. Ensure that resources are utilized effectively, minimizing conflicts and maximizing productivity in your educational or business environment.</p>
            </div>
          </div>
        
          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">User-Friendly Interface</a></h4>
              <p class="description">Enjoy a user-friendly interface that simplifies the process of creating and managing timetables. Our platform is designed to be intuitive, allowing users to navigate effortlessly and perform tasks with ease.</p>
            </div>
          </div>
        
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Efficient Planning</a></h4>
              <p class="description">Achieve efficient planning with our Timetable Management System. Streamline the process of creating and managing schedules, allowing administrators to allocate classes, assign teachers, and organize resources with maximum efficiency.</p>
            </div>
          </div>
        
          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Real-Time Updates</a></h4>
              <p class="description">Stay informed with real-time updates on schedule changes, announcements, and important events. Our platform ensures effective communication among stakeholders, creating a more transparent and connected educational or business environment.</p>
            </div>
          </div>
        
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Time Optimization</a></h4>
              <p class="description">Optimize your organization's time with our Timetable Management System. Ensure that every minute is used effectively, leading to increased productivity and a more organized and structured educational or business environment.</p>
            </div>
          </div>
        
        </div>
        

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Why Choose Us?</h3>
          <p>Explore the unique features and advantages that set our Timetable Management System apart from the rest. Discover the reasons why our platform is the ideal choice for your scheduling needs.</p>
        </header>
        
        <div class="row row-eq-height justify-content-center">
        
          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
              <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Intuitive Design</h5>
                <p class="card-text">Experience a user-friendly and intuitive design that simplifies the process of creating and managing timetables. Our platform is crafted to provide a seamless and efficient scheduling experience.</p>
                <a href="#" class="readmore">Read more</a>
              </div>
            </div>
          </div>
        
          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
              <i class="fa fa-language"></i>
              <div class="card-body">
                <h5 class="card-title">Optimized Resource Allocation</h5>
                <p class="card-text">Achieve efficient resource allocation with our advanced scheduling algorithms. Minimize conflicts and maximize productivity by optimizing the use of classrooms, laboratories, and other facilities.</p>
                <a href="#" class="readmore">Read more</a>
              </div>
            </div>
          </div>
        
          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
              <i class="fa fa-object-group"></i>
              <div class="card-body">
                <h5 class="card-title">Real-Time Updates</h5>
                <p class="card-text">Stay informed with real-time updates on schedule changes, announcements, and important events. Our platform ensures effective communication among stakeholders for a more transparent environment.</p>
                <a href="#" class="readmore">Read more</a>
              </div>
            </div>
          </div>
        </div>
        

       
       {%comment%}
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
          </div>
  
        </div>
        {%endcomment%}

      </div>
    </section>

    
         


        
         
          
          

          

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
               <!-- map -->
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.168820625266!2d75.1749534748273!3d12.1689071380775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba46e3543168e69%3A0x1d2ebdb0958c62af!2sE%20K%20Nayanar%20Memorial%20Govt%20Polytechnic%20College%20Trikaripur!5e0!3m2!1sen!2sin!4v1710686541439!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>Kannur,kerala</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>timelyscheduler@example.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+1 3369 33466 33</p>
              </div>
            </div>

            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="If you have any inquiries or feedback regarding our TimelyScheduler, feel free to share them here."></textarea>
                  <div class="validation"></div>
                </div>
            
             
                
              </form>
            </div>
            

        </div>

      </div>
    </section><!-- #contact -->

  </main>
{%endblock%}
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-links">
            <h3>TimelyScheduler</h3>
            <p>TimelyScheduler is your comprehensive solution for streamlined scheduling and efficient timetable management. Our platform is designed to simplify the complexities of organizing classes, allocating resources, and optimizing schedules for educational institutions and businesses. </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
               
              Kannur, Kerala<br>
               India<br>
              <strong>Phone:</strong> +1 3369 33466 33<br>
              <strong>Email:</strong> timelyscheduler@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>TimelyScheduler</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a href="https://bootstrapmade.com/">zionIt</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var contactForm = document.querySelector('.contactForm');
  
      contactForm.addEventListener('submit', function(event) {
        event.preventDefault(); 
  
        
  
        
        var messageTextarea = contactForm.querySelector('[name="message"]');
        messageTextarea.value = '';
  
        
        var sendmessage = contactForm.querySelector('#sendmessage');
        sendmessage.style.display = 'block';
      });
    });
  </script>
  <script src="{%static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{%static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{%static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'lib/easing/easing.min.js' %}"></script>
  <script src="{%static 'lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{%static 'lib/wow/wow.min.js' %}"></script>
  <script src="{%static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{%static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{%static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{%static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{%static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{%static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{%static 'js/main.js' %}"></script>

</body>
</html>
